!!! 5
html
	head
		<!-- jQuery  -->
		script(src='http://code.jquery.com/jquery.js')
		<!-- CSS -->
		link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
	body
		<!-- JavaScript -->
		script(src='js/bootstrap.min.js')





	
	